.avatar {
  display: block;
  margin: 0 auto;
}

.articleInfoBlock {
  margin-bottom: 24px;
}

.articleInfo {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 4px;

  &:first-child {
    margin-top: 8px;
  }
}

.textBlock {
  margin-bottom: 24px;
}

.codeBlock {
  margin-bottom: 38px;
}

.imageBlock {
  margin-bottom: 18px;
}
