.item {
  display: flex;
  gap: 10px;
  align-items: center;
}

.link {
  opacity: 1;
}

.icon {
  fill: var(--inverted-primary-color);
}

.collapsed {
  .link {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    width: 0;
  }
}
